/* --------------------------------------
=========================================

Posters Hive - E-commerce site
AUTHOR: SAYED MAHMUD RONI
VERSION: 1.00

=========================================
-----------------------------------------*/





/*============================
// GOOGLE FONT
==============================*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

/*============================
// GLOBAL STYLES
==============================*/

/* 
0 - 600px :       PHONE
600px - 900px :   Tablet Potrait
900px - 1200px :  Tablet Landscape
[1200px - 1800px] is where normal styles apply

 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Cairo";
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row .col-1-of-2 {
  width: calc( (100% - 6rem ) / 2 );
}
.row .col-1-of-3 {
  width: calc( (100% - 2 * 6rem ) / 3 );
}
.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem ) / 3) + 6rem );
}
.row .col-1-of-4 {
  width: calc( (100% - 3 * 6rem ) / 4 );
}
.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem ) / 4) + 6rem );
}
.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem ) / 4) + ( 2 * 6rem ) );
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
	height: 100vh;
	max-height: 100%;
  background-image: url("https://github.com/mahmudroni/postershive/blob/main/images/12.png");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-box {
  margin-top: 30%;
}

.header_title, .header_subtitle, .btn-text {
  color: #3B3B32;
}

.header_title {
	font-size: 7.4rem;
	font-weight: 700;
	line-height: 6.4rem;
  margin-bottom: 3rem;
}

.header_title--span {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 600;
  background-color: red;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}


.header_subtitle {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

.btn-box {
  margin-top: 10rem;
}

.btn-text {
  font-size: 2.8rem;
  font-weight: 600;
}

.btn {
  height: 6rem;
  width: 21rem;
  background-color: #4867AA;
  border-radius: 8px;
  text-align: center;
  margin-top: ;
}

.btn img {
  width: 14,4rem;
  max-width: 100%;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}
