	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/05/2017 11:14
  	*/
	
	@font-face {
		font-family: "Flaticon";
		src: url("./Flaticon.eot");
		src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: "Flaticon";
			src: url("./Flaticon.svg#Flaticon") format("svg");
		}
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
		font-family: Flaticon;
		font-style: normal;
	}
	
	.flaticon-search-1:before {
		content: "\f100";
	}
	
	.flaticon-search:before {
		content: "\f101";
	}
	
	.flaticon-instagram-logo:before {
		content: "\f102";
	}
	
	.flaticon-right-arrow:before {
		content: "\f103";
	}
	
	.flaticon-internet:before {
		content: "\f104";
	}
	
	.flaticon-home:before {
		content: "\f105";
	}
	
	.flaticon-smartphone-call:before {
		content: "\f106";
	}
	
	.flaticon-smartphone:before {
		content: "\f107";
	}
	
	.flaticon-twitter:before {
		content: "\f108";
	}
	
	.flaticon-google-plus-1:before {
		content: "\f109";
	}
	
	.flaticon-twitter-logo-button:before {
		content: "\f10a";
	}
	
	.flaticon-facebook-logo-button:before {
		content: "\f10b";
	}
	
	.flaticon-share:before {
		content: "\f10c";
	}
	
	.flaticon-star-1:before {
		content: "\f10d";
	}
	
	.flaticon-star:before {
		content: "\f10e";
	}
	
	.flaticon-google-plus:before {
		content: "\f10f";
	}
	
	.flaticon-youtube:before {
		content: "\f110";
	}
	
	.flaticon-facebook:before {
		content: "\f111";
	}
	
	.flaticon-substract:before {
		content: "\f112";
	}
	
	.flaticon-menu:before {
		content: "\f113";
	}
	
	.flaticon-shopping-cart-1:before {
		content: "\f114";
	}
	
	.flaticon-shopping-cart:before {
		content: "\f115";
	}
	
	.flaticon-24-hours:before {
		content: "\f116";
	}
	
	.flaticon-customer-service:before {
		content: "\f117";
	}
	
	.flaticon-parked-car:before {
		content: "\f118";
	}
	
	.flaticon-parking:before {
		content: "\f119";
	}
	
	.flaticon-no-home-delivery:before {
		content: "\f11a";
	}
	
	.flaticon-home-delivery-of-goods:before {
		content: "\f11b";
	}
	
	.flaticon-van:before {
		content: "\f11c";
	}
	
	.flaticon-delivery:before {
		content: "\f11d";
	}
	
	.flaticon-rss:before {
		content: "\f11e";
	}
